body {
  font-family: 'Brandon Grotesque', sans-serif;
}

h3 {
  color: #ec5d57;
  text-align: center;
  letter-spacing: 1.5px;
}

#submit {
  text-align: right;
}

.container {
  width: 50%;
  margin: auto;
}

label {
  color: #2b2b2b;
  font-size: 0.83rem;
  font-weight: 500;
  margin-left: 10px;
}

input {
  border: 1px solid #c3c3c3;
  border-radius: 7px;
  padding: 12px 10px;
  width: 100%;
  margin-bottom: 15px;
}

input::placeholder {
  font-family: 'Atlasgrotesk', sans-serif;
  font-size: 1rem;
  color: #999;
}

select {
  font-size: 1rem;
  font-family: 'Brandon Grotesque', sans-serif;
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid #c3c3c3;
  border-radius: 5px;
  padding: 10px 0;
  margin-bottom: 10px;
}

button {
  color: white;
  background-color: #ec5d57;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
}
