button {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1.25rem;
  border: none;
}

button:hover {
  background-color: #82c309;
  color: white;
}

thead {
  background-color: #c4f863;
}

tbody > tr:nth-child(2n+1) {
  background-color: #e8fcc2;
}
