button {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
}

button:hover {
  cursor: pointer;
}

.btn-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dark {
  background-color: #252525;
  box-shadow: 0 -10px 0 5px black;
}

.dark {
  background-color: #111;
}

.btn-light {
  background-color: #faea84;
  box-shadow: 0 0 50px 5px #faea84;
}

.light {
  background-color: #fef9f1;
}
