h1 {
  font-family: 'Tiempos Headline', sans-serif;
}

h2 {
  font-family: 'Tiempos Headline', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  color: #6e6e6e;
}

h5 {
  font-family: 'Avenir', sans-serif;
  font-weight: 400;
  color: #6e6e6e;
}

p {
  font-size: 0.75rem;
  font-family: 'Avenir', sans-serif;
  color: #6e6e6e;
}

a {
  font-size: 0.8rem;
  font-family: 'Avenir', sans-serif;
  color: #a2a2a2;
  text-decoration: none;
  padding: 0 20px;
}

.container {
  margin: 20px auto;
  width: 1000px;
}

.clinician-background-color {
  background-color: #fafafa;
  border-bottom: 2px solid rgb(243, 243, 243);
}

.relative-position {
  position: relative;
}

.hero-overlay {
  max-width: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-us-btn {
  font-family: 'Avenir', sans-serif;
  font-size: 0.8rem;
  background-color: #294464;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: white;
}

.row {
  display: flex;
}

.margin-right {
  margin-right: 50px;
}

.margin-left {
  margin-left: 50px;
}

.margin-bottom {
  margin-bottom: 50px;
}

.column-full {
  width: 100%;
}

.column-three-fifth {
  width: 60%;
}

.column-one-half {
  width: 50%;
}

.column-two-fifth {
  width: 40%;
}

.column-one-fifth {
  width: 20%;
}

.column-one-tenth {
  width: 10%;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.border-bottom-lightgrey {
  border-bottom: 1px solid rgb(238, 238, 238);
}

.white {
  color: white;
}

.padding-bottom {
  padding-bottom: 15px;
}

.justify-content-center {
  justify-content: center;
}

.margin-auto {
  margin: auto;
}

#logo-blue {
  height: 20px;
  margin-left: 50px;
}
